In [5]:
import pandas as pd

# Load all datasets
try:
    # Dataset 1: Disaster Impact
    dataset_1 = pd.read_excel(r"D:\work\college\E-Coders_SAS_Curiosity_Cup\datasets\Raw_data\Distaster_overall_Data(1900_2024) edited.xlsx")

    # Dataset 2: Income Classification
    dataset_2 = pd.read_csv(r"D:\work\college\E-Coders_SAS_Curiosity_Cup\datasets\Raw_data\world-bank-income-groups.csv")

    # Dataset 3: Affected vs GDP
    dataset_3 = pd.read_csv(r"D:\work\college\E-Coders_SAS_Curiosity_Cup\datasets\Raw_data\affected-by-disasters-vs-gdp.csv")
    
    # Dataset 4: GDP per capita (constant 2021 international $)
    dataset_4 = pd.read_csv(r"D:\work\college\E-Coders_SAS_Curiosity_Cup\datasets\Raw_data\GDP.csv")


    # Explore the datasets
    print("Dataset 1 (Disaster Impact):")
    print(dataset_1.head(), "\n")

    print("Dataset 2 (Income Classification):")
    print(dataset_2.head(), "\n")

    print("Dataset 3 (Affected vs GDP):")
    print(dataset_3.head(), "\n")

    print("Dataset 5 (GDP per capita):")
    print(dataset_4.head(), "\n")

    # Check basic info and missing values
    print("\nDataset 1 Info:")
    print(dataset_1.info())
    print("\nDataset 2 Info:")
    print(dataset_2.info())
    print("\nDataset 3 Info:")
    print(dataset_3.info())
    print("\nDataset 5 Info:")
    print(dataset_4.info())

except Exception as e:
    print(f"An error occurred: {e}")

Dataset 1 (Disaster Impact):
  CODE_ISO                   Country         DisNo. Historic Disaster Group  \
0      JPN                     Japan  2024-0001-JPN       No        Natural
1      MDG                Madagascar  2024-0002-MDG       No        Natural
2      USA  United States of America  2024-0004-USA       No        Natural
3      USA  United States of America  2024-0005-USA       No        Natural
4      LKA                 Sri Lanka  2024-0008-LKA       No        Natural

  Disaster Subgroup Disaster Type       Disaster Subtype  \
0       Geophysical    Earthquake        Ground movement
1    Meteorological         Storm       Tropical cyclone
2    Meteorological         Storm         Severe weather
3    Meteorological         Storm  Blizzard/Winter storm
4      Hydrological         Flood        Flood (General)

                  Event Name           Subregion  ... End Month  End Day  \
0                        NaN        Eastern Asia  ...       1.0      2.0
1  Tropical cyclone 'Alvaro'  Sub-Saharan Africa  ...       1.0      2.0
2                        NaN    Northern America  ...       1.0     10.0
3                        NaN    Northern America  ...       1.0     22.0
4                        NaN       Southern Asia  ...       1.0     16.0

  Total Deaths  No. Injured  No. Affected  No. Homeless  Total Affected  \
0        252.0       1182.0      166947.0           NaN        168129.0
1         10.0          NaN       25837.0           NaN         25837.0
2          5.0         11.0           NaN           NaN            11.0
3         61.0          NaN           NaN           NaN             NaN
4          2.0          NaN      175000.0           NaN        175000.0

   Insured Damage ('000 US$)  Total Damage ('000 US$)  \
0                  2500000.0               15000000.0
1                        NaN                      NaN
2                        NaN                2850000.0
3                        NaN                3800000.0
4                        NaN                      NaN

   Total Damage, Adjusted ('000 US$)
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN

[5 rows x 29 columns]

Dataset 2 (Income Classification):
       Country CODE_ISO  Year World Bank's income classification
0  Afghanistan      AFG  1987               Low-income countries
1  Afghanistan      AFG  1988               Low-income countries
2  Afghanistan      AFG  1989               Low-income countries
3  Afghanistan      AFG  1990               Low-income countries
4  Afghanistan      AFG  1991               Low-income countries

Dataset 3 (Affected vs GDP):
  CODE_ISO Country   Year  \
0      ABW    Aruba  1990
1      ABW    Aruba  1991
2      ABW    Aruba  1992
3      ABW    Aruba  1993
4      ABW    Aruba  1994

   Total affected per 100,000 people - All disasters excluding extreme temperature  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   GDP per capita, PPP (constant 2021 international $)  \
0                                          34579.220
1                                          35552.086
2                                          35947.370
3                                          36124.305
4                                          37118.273

  World regions according to OWID
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN

Dataset 5 (GDP per capita):
  WEO Country Code CODE_ISO      Country     Scale 1980 1981 1982 1983 1984  \
0              512      AFG  Afghanistan  Billions  NaN  NaN  NaN  NaN  NaN
1              512      AFG  Afghanistan     Units  NaN  NaN  NaN  NaN  NaN
2              512      AFG  Afghanistan  Billions  NaN  NaN  NaN  NaN  NaN
3              512      AFG  Afghanistan  Billions  NaN  NaN  NaN  NaN  NaN
4              512      AFG  Afghanistan  Billions  NaN  NaN  NaN  NaN  NaN

  1985  ...      2020      2021      2022      2023 Unnamed: 48 Unnamed: 49  \
0  NaN  ...  1,288.87  1,101.45  1,032.71  1,060.71         NaN         NaN
1  NaN  ...    -2.351   -14.542     -6.24     2.711         NaN         NaN
2  NaN  ...  1,547.29  1,251.17  1,283.44  1,357.28         NaN         NaN
3  NaN  ...    20.136    14.278    14.501    17.329         NaN         NaN
4  NaN  ...   100.898    85.768    86.149    91.668         NaN         NaN

  Unnamed: 50 Unnamed: 51 Unnamed: 52 Unnamed: 53
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 54 columns]


Dataset 1 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17325 entries, 0 to 17324
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CODE_ISO                           17325 non-null  object
 1   Country                            17325 non-null  object
 2   DisNo.                             17325 non-null  object
 3   Historic                           17325 non-null  object
 4   Disaster Group                     17325 non-null  object
 5   Disaster Subgroup                  17325 non-null  object
 6   Disaster Type                      17325 non-null  object
 7   Disaster Subtype                   17325 non-null  object
 8   Event Name                         4140 non-null   object
 9   Subregion                          17325 non-null  object
 10  Region                             17325 non-null  object
 11  Magnitude                          5138 non-null   float64
 12  Magnitude Scale                    15258 non-null  object
 13  Latitude                           2798 non-null   float64
 14  Longitude                          2798 non-null   float64
 15  Start Year                         17325 non-null  int64
 16  Start Month                        16930 non-null  float64
 17  Start Day                          13623 non-null  float64
 18  End Year                           17325 non-null  int64
 19  End Month                          16622 non-null  float64
 20  End Day                            13712 non-null  float64
 21  Total Deaths                       12367 non-null  float64
 22  No. Injured                        4420 non-null   float64
 23  No. Affected                       10205 non-null  float64
 24  No. Homeless                       2499 non-null   float64
 25  Total Affected                     12720 non-null  float64
 26  Insured Damage ('000 US$)          1138 non-null   float64
 27  Total Damage ('000 US$)            5545 non-null   float64
 28  Total Damage, Adjusted ('000 US$)  5465 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 3.8+ MB
None

Dataset 2 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7661 entries, 0 to 7660
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             7661 non-null   object
 1   CODE_ISO                            7661 non-null   object
 2   Year                                7661 non-null   int64
 3   World Bank's income classification  7661 non-null   object
dtypes: int64(1), object(3)
memory usage: 239.5+ KB
None

Dataset 3 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10802 entries, 0 to 10801
Data columns (total 6 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   CODE_ISO                                                                         9343 non-null   object
 1   Country                                                                          10802 non-null  object
 2   Year                                                                             10802 non-null  int64
 3   Total affected per 100,000 people - All disasters excluding extreme temperature  7345 non-null   float64
 4   GDP per capita, PPP (constant 2021 international $)                              7063 non-null   float64
 5   World regions according to OWID                                                  271 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 506.5+ KB
None

Dataset 5 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 54 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   WEO Country Code  8625 non-null   object
 1   CODE_ISO          8624 non-null   object
 2   Country           8624 non-null   object
 3   Scale             8624 non-null   object
 4   1980              3859 non-null   object
 5   1981              3988 non-null   object
 6   1982              4032 non-null   object
 7   1983              4073 non-null   object
 8   1984              4099 non-null   object
 9   1985              4182 non-null   object
 10  1986              4229 non-null   object
 11  1987              4253 non-null   object
 12  1988              4342 non-null   object
 13  1989              4403 non-null   object
 14  1990              4883 non-null   object
 15  1991              5042 non-null   object
 16  1992              5428 non-null   object
 17  1993              5628 non-null   object
 18  1994              5755 non-null   object
 19  1995              6100 non-null   object
 20  1996              6234 non-null   object
 21  1997              6396 non-null   object
 22  1998              6557 non-null   object
 23  1999              6651 non-null   object
 24  2000              7077 non-null   object
 25  2001              7227 non-null   object
 26  2002              7321 non-null   object
 27  2003              7351 non-null   object
 28  2004              7421 non-null   object
 29  2005              7454 non-null   object
 30  2006              7461 non-null   object
 31  2007              7463 non-null   object
 32  2008              7472 non-null   object
 33  2009              7493 non-null   object
 34  2010              7506 non-null   object
 35  2011              7511 non-null   object
 36  2012              7528 non-null   object
 37  2013              7546 non-null   object
 38  2014              7572 non-null   object
 39  2015              7590 non-null   object
 40  2016              7592 non-null   object
 41  2017              7597 non-null   object
 42  2018              7594 non-null   object
 43  2019              7594 non-null   object
 44  2020              7557 non-null   object
 45  2021              7549 non-null   object
 46  2022              7548 non-null   object
 47  2023              7507 non-null   object
 48  Unnamed: 48       0 non-null      float64
 49  Unnamed: 49       0 non-null      float64
 50  Unnamed: 50       0 non-null      float64
 51  Unnamed: 51       0 non-null      float64
 52  Unnamed: 52       0 non-null      float64
 53  Unnamed: 53       0 non-null      float64
dtypes: float64(6), object(48)
memory usage: 3.6+ MB
None

In [8]:
# Drop irrelevant columns but keep 'Total Damage ('000 US$)'
dataset_1_cleaned = dataset_1.drop(columns=["Event Name", "Subregion", "End Month", "End Day", "Total Damage, Adjusted ('000 US$)"])

# Handle missing values by filling with appropriate values or dropping
dataset_1_cleaned['Total Deaths'] = dataset_1_cleaned['Total Deaths'].fillna(0)
dataset_1_cleaned['No. Injured'] = dataset_1_cleaned['No. Injured'].fillna(0)
dataset_1_cleaned['No. Affected'] = dataset_1_cleaned['No. Affected'].fillna(0)
dataset_1_cleaned['No. Homeless'] = dataset_1_cleaned['No. Homeless'].fillna(0)
dataset_1_cleaned['Total Affected'] = dataset_1_cleaned['Total Affected'].fillna(0)
dataset_1_cleaned['Insured Damage (\'000 US$)'] = dataset_1_cleaned['Insured Damage (\'000 US$)'].fillna(0)
dataset_1_cleaned['Total Damage (\'000 US$)'] = dataset_1_cleaned['Total Damage (\'000 US$)'].fillna(0)

# Remove rows with duplicates based on the 'DisNo.' column (assuming 'DisNo.' is a unique identifier)
dataset_1_cleaned = dataset_1_cleaned.drop_duplicates(subset=['DisNo.'])

# Standardize column names to lowercase and replace spaces with underscores
dataset_1_cleaned.columns = dataset_1_cleaned.columns.str.lower().str.replace(' ', '_')

# Ensure correct data types (convert numerical columns to floats or ints)
dataset_1_cleaned['total_deaths'] = dataset_1_cleaned['total_deaths'].astype(float)
dataset_1_cleaned['no._injured'] = dataset_1_cleaned['no._injured'].astype(float)
dataset_1_cleaned['no._affected'] = dataset_1_cleaned['no._affected'].astype(float)
dataset_1_cleaned['no._homeless'] = dataset_1_cleaned['no._homeless'].astype(float)
dataset_1_cleaned['total_affected'] = dataset_1_cleaned['total_affected'].astype(float)
dataset_1_cleaned['insured_damage_(\'000_us$)'] = dataset_1_cleaned['insured_damage_(\'000_us$)'].astype(float)
dataset_1_cleaned['total_damage_(\'000_us$)'] = dataset_1_cleaned['total_damage_(\'000_us$)'].astype(float)

# Preview the cleaned dataset
print("\nCleaned Dataset:")
print(dataset_1_cleaned.head())
# Save the cleaned dataset to the specified path
dataset_1_cleaned.to_csv(r'D:\work\college\E-Coders_SAS_Curiosity_Cup\datasets\Cleaned_data\cleaned_disaster_impact.csv', index=False)

print("Cleaned dataset saved successfully!")

Cleaned Dataset:
  code_iso                   country         disno. historic disaster_group  \
0      JPN                     Japan  2024-0001-JPN       No        Natural
1      MDG                Madagascar  2024-0002-MDG       No        Natural
2      USA  United States of America  2024-0004-USA       No        Natural
3      USA  United States of America  2024-0005-USA       No        Natural
4      LKA                 Sri Lanka  2024-0008-LKA       No        Natural

  disaster_subgroup disaster_type       disaster_subtype    region  magnitude  \
0       Geophysical    Earthquake        Ground movement      Asia        7.5
1    Meteorological         Storm       Tropical cyclone    Africa        NaN
2    Meteorological         Storm         Severe weather  Americas        NaN
3    Meteorological         Storm  Blizzard/Winter storm  Americas        NaN
4      Hydrological         Flood        Flood (General)      Asia        NaN

   ... start_month  start_day  end_year  total_deaths  no._injured  \
0  ...         1.0        2.0      2024         252.0       1182.0
1  ...         1.0        1.0      2024          10.0          0.0
2  ...         1.0        8.0      2024           5.0         11.0
3  ...         1.0        9.0      2024          61.0          0.0
4  ...         1.0        1.0      2024           2.0          0.0

   no._affected  no._homeless  total_affected  insured_damage_('000_us$)  \
0      166947.0           0.0        168129.0                  2500000.0
1       25837.0           0.0         25837.0                        0.0
2           0.0           0.0            11.0                        0.0
3           0.0           0.0             0.0                        0.0
4      175000.0           0.0        175000.0                        0.0

   total_damage_('000_us$)
0               15000000.0
1                      0.0
2                2850000.0
3                3800000.0
4                      0.0

[5 rows x 24 columns]
Cleaned dataset saved successfully!

In [ ]:
print("hello")